@media (max-width: 1025px) {

    /* Header */
    header {
        padding: 24px 32px;
    }

    /* Section 1 */
    .section1 {
        height: 560px;
    }

    /* Section 2 */
    .section2 {
        width: calc(960 / 1024 * 100%);
        column-gap: 30px;
        margin: 80px auto;
    }

    .s2a {
        width: 300px;
    }

    /* Footer */
    footer {
        height: 224px;
        padding: 40px 32px;
    }
}