@media (max-width: 480px) {

    /* Header */
    header {
        padding: 8px;
    }

    /* Section 1 */
    .section1 {
        height: 320px;
    }

    .section_button {
        width: 180px;
        height: 60px;
        font-size: 16px;
        line-height: 24px;
    }

    /* Section 2 */
    .section2 {
        width: calc(464 / 480 * 100%);
    }

    /* Footer */
    footer {
        height: 619px;
        padding: 32px 0;
    }


    .footer_sections {
        margin: auto;
        flex-direction: column;
        row-gap: 32px;
        width: 100%;
    }
}