.container {
    /* background-color: aquamarine; */
    width: min(100%, 1440px);
    margin: auto;
}

/* Header */
header {
    background-color: #E3DAD8;
    padding: 24px 150px;
    margin: auto;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.44023728370666504px;
}

.header_ul {
    display: flex;
    column-gap: 36px;
}

.header_ul_a {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.44023728370666504px;
    text-transform: uppercase;
}

.header_button {
    background-color: #524A44;
    width: 100px;
    height: 48px;
    border-radius: 32px;
    border: none;

    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.44023728370666504px;
    color: #FFFFFF;
}

.burger {
    display: none;
}

/* Section 1 */
.section1 {
    height: 640px;
    background-image: url(../images/cover.png);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_button {
    background-color: #524A44;
    width: 320px;
    height: 80px;
    border: solid 2px #F5F5F5;

    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.10000000149011612px;
    color: #FFFFFF;
}

/* Section 2 */
.section2 {
    width: calc(1140 / 1440 * 100%);
    display: flex;
    column-gap: 36px;
    margin: 100px auto;
}

.s2a {
    background-color: #E3DAD8;
    width: 356px;
}

.s2hbox {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 16px;
}

i {
    font-size: 40px;
}

.s2h {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.s2p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
}

/* Footer */
footer {
    background-color: #000000;
    height: 336px;
}